body{margin:0;padding:0;background-color:#f2f2f2;font-family:Helvetica;font-size:10px;color:#333;}

.container{position:relative;margin:10px 10px;width:396px;height:396px;}
.gameover{position:absolute;top:0;left:0;z-index:10000;padding:175px 0 0 0;width:396px;height:221px;background:rgba(0,0,0,0.70);text-align:center;font-size:50px;color:#fff;}
.board{border-collapse:collapse;border:3px solid #000;width:390px;height:390px;}
.board td{padding:0;border:3px solid #000;width:128px;height:128px;}
.board td .piece_box{position:relative;z-index:9999;width:128px;height:128px;}
.board td .piece_box img{width:128px;height:128px;}